<ion-view view-title="Mi cuenta">
  <ion-content>
    <div style="text-align:center;">
      <img style="margin:10px;border-radius:60%;width:60%;height:60%" src="img/perfil.png" alt="imagen de perfil" />
    </div>
    <div class="item" style="text-align:center">
      <i class="ion-person"></i> {{displayName.displayName}}
      <p>
        <i class="ion-at"></i> {{displayName.email}}
      </p>
    </div>
    <button  ng-click="logout()" class="button button-assertive button-full">
      Cerrar sesion
    </button>
  </ion-content>
</ion-view>
